# Learining Advance Pandas , ZeeShu Books

In [12]:
import numpy as np
import pandas as pd

MyDataFrame = pd.DataFrame(np.random.rand(5,3),columns=['col1','col2','col3'])
print(MyDataFrame)

def adderFun(eli1,eli2):
    return(eli1+eli2)

# MyDataFrame.pipe(adderFun,3)


# print("MEAN \n",MyDataFrame.mean(1))

# print("Using Lambda:\n " , MyDataFrame.apply(lambda x: x.max()-x.min()))
# MyDataFrame.apply(np.mean,axis=1)
# print("2nd Mean \n " , MyDataFrame.apply(np.mean,axis=1))
MyDataFrame.applymap(lambda x:x*100)
print(MyDataFrame.apply(np.mean))

       col1      col2      col3
0  0.851928  0.113966  0.906998
1  0.012432  0.521339  0.129413
2  0.409259  0.334668  0.378545
3  0.173124  0.451968  0.190227
4  0.738971  0.753688  0.423654
col1    0.437143
col2    0.435126
col3    0.405767
dtype: float64

In [13]:
import numpy as np
import pandas as pd

dataFrame2 = pd.DataFrame({'Name':pd.Series(['Ali' , 'abuBakar' , 'Umer' , 'Usman' , 'Ilyas']) , 'Age':pd.Series([23,6,22,19,18]) , 'CGP':pd.Series([2.22,2.9,1.9,3.2,4.0])})
print(dataFrame2)
# print("Call a column \n " , dataFrame2.T)

#DATAFRAME_03
N = 20
dataFrame3 = pd.DataFrame({'A':pd.date_range(start='20220602' , periods=N , freq='D') , 
                           'x':np.linspace(0,N-1,N),
                           'y':np.random.rand(N),
                           'C':np.random.choice(['Low','Medium','High'],N).tolist(),
                           'D':np.random.normal(100,10,size=N).tolist()})
# print(dataFrame3)
print("\n AFTER REINDEXING \n")

df_reindexing = dataFrame3.reindex(index=[0,2,7] , columns=['A','C'])
# print(df_reindexing)

print("\n Printing columns \n")
for col in dataFrame3:
    print(col)

       Name  Age   CGP
0       Ali   23  2.22
1  abuBakar    6  2.90
2      Umer   22  1.90
3     Usman   19  3.20
4     Ilyas   18  4.00

 AFTER REINDEXING


 Printing columns

A
x
y
C
D

In [14]:
import numpy as np
import pandas as pd

print("\n Data Frame 01 \n")
df1 = pd.DataFrame(np.random.rand(10,3) , columns=['A' , 'B' , 'C'])
print(df1)
# print("\n Data Frame 02 \n")
# df2 = pd.DataFrame(np.random.rand(5,3) , columns=['A' , 'B' , 'C'])
# print(df2)
print("\n After ReNaming DataFrame 01 \n")
df1_reindexing = df1.rename(columns={'A':'Column_01' , 'B':''})
print(df1_reindexing)

 Data Frame 01

          A         B         C
0  0.074343  0.391306  0.978132
1  0.516104  0.100273  0.097394
2  0.925374  0.005673  0.134743
3  0.139058  0.244059  0.197651
4  0.651958  0.721738  0.085153
5  0.237481  0.587581  0.119763
6  0.533630  0.780800  0.457680
7  0.677962  0.077769  0.938152
8  0.400583  0.202197  0.401134
9  0.855754  0.618921  0.094948

 After ReNaming DataFrame 01

   Column_01                   C
0   0.074343  0.391306  0.978132
1   0.516104  0.100273  0.097394
2   0.925374  0.005673  0.134743
3   0.139058  0.244059  0.197651
4   0.651958  0.721738  0.085153
5   0.237481  0.587581  0.119763
6   0.533630  0.780800  0.457680
7   0.677962  0.077769  0.938152
8   0.400583  0.202197  0.401134
9   0.855754  0.618921  0.094948

In [15]:
import numpy as np
import pandas as pd

DataFrame01 = pd.DataFrame(np.random.rand(3,5),columns=['A','B','C','D','E'],index=['Apple','Banana','CocoNut'])
print(DataFrame01)

                A         B         C         D         E
Apple    0.663037  0.810106  0.492858  0.230563  0.520485
Banana   0.146035  0.443125  0.654349  0.609712  0.528581
CocoNut  0.747417  0.545602  0.610238  0.179651  0.221038

In [16]:
import numpy as np
import pandas as pd

df = pd.read_csv('titanic.csv')
print("Median Set is \n ",df.median())
print("Mean  from numoy \n " , np.mean(df))

Median Set is
  PassengerId    446.0000
Survived         0.0000
Pclass           3.0000
Age             28.0000
SibSp            0.0000
Parch            0.0000
Fare            14.4542
dtype: float64
Mean  from numoy
  PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

/var/folders/7w/cwn158qd4kdd2x7ryts_x7hw0000gn/T/ipykernel_1450/1810980233.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("Median Set is \n ",df.median())
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3472: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [17]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.rand(3,4) , columns=['A','B','C','D'])
print(df)
for row in df.itertuples():
    print(row)

          A         B         C         D
0  0.822233  0.671924  0.130360  0.394456
1  0.303068  0.892152  0.015018  0.961082
2  0.406612  0.424384  0.034379  0.099640
Pandas(Index=0, A=0.8222327054541815, B=0.671924270408588, C=0.13036011187258112, D=0.3944560467680913)
Pandas(Index=1, A=0.303068372786631, B=0.8921523617574111, C=0.015017970144628912, D=0.9610820858215113)
Pandas(Index=2, A=0.40661246051128364, B=0.4243841712141633, C=0.034379094289448964, D=0.09964011876595658)

In [18]:
df = pd.DataFrame(np.random.rand(10,1) , columns=['C1'] , index = [1,9,2,8,3,0,4,7,6,5])
print(df.sort_index(ascending=False)) 
# print(df.sort_values())

         C1
9  0.126701
8  0.388411
7  0.190486
6  0.100451
5  0.003359
4  0.477099
3  0.159269
2  0.342716
1  0.759922
0  0.396514

In [19]:
dataFramForSorting = pd.DataFrame(np.random.rand(10,2) , index=[1,9,2,8,3,0,4,7,6,5] , columns=['C1' , 'C2'] )
print(dataFramForSorting.sort_index(axis=1))

         C1        C2
1  0.729419  0.121256
9  0.581630  0.705711
2  0.615692  0.681178
8  0.283024  0.320827
3  0.162524  0.158817
0  0.085379  0.689057
4  0.388905  0.750448
7  0.965861  0.280677
6  0.003847  0.217378
5  0.105977  0.124262

In [20]:
df_forSorting = pd.DataFrame({'col1':[2,1,12,2] , 'col2':[1,3,2,4]})
# print(df_forSorting.sort_values(by='col2') )
# print(df_forSorting.sort_values(by='col2' , kind='mergesort') )

mySeries = pd.Series([[1,2,3,'Tom',"Mike",2.2],[11,22,33,44]])
siri = pd.Series([1,'aa','C C','dD',222,"IM@.T/Iaz",2.2 , 3.3])
# print(siri)

print(pd.set_option("display.max_row" , 90))
print(pd.set_option("display.max_column",30))

# pd.reset_option("display.max_rows")
# pd.reset_option("display.max_columns")

# print(pd.get_option("display.max_row"))
# print(pd.get_option("display.max_columns"))

# with pd.option_context("display.max_rows",10):
#     print(pd.get_option("display.max_rows"))


print(pd.get_option("display.max_colwidth"))



# print(mySeries.str.upper())

None
None
50

In [21]:
df3 = pd.DataFrame(np.random.rand(8,2) , index=['a','b','c','d','e','f','g','h'] , columns=['A','B'])
print(df3)

          A         B
a  0.318809  0.984324
b  0.848069  0.985312
c  0.645372  0.786639
d  0.765894  0.957422
e  0.880732  0.484120
f  0.545988  0.310877
g  0.827142  0.823755
h  0.206121  0.926136